recognition/ConvNeXt_ADNI_46990716/__pycache__/modules.cpython-39.pyc
recognition/ConvNeXt_ADNI_46990716/__pycache__/dataset.cpython-39.pyc
.vscode/settings.json
recognition/ConvNeXt_ADNI_46990716/wandb_tools.py
recognition/ConvNeXt_ADNI_46990716/__pycache__/wandb.cpython-39.pyc

wandb
